# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log
*.idb
*.recipe
*.tlog
*.pdb
*.txt
*.vsidx
*.ipch
*.iobj
*.exp
*.ipdb
*.lock
*.db
MoonlightNVSE/.vs/MoonlightNVSE/v17/.suo
*.opendb
*.db-shm
*.ilk
*.db-wal
